#Header {
  border-style: solid;
  border-width: thick;
  border-color: black;
  background-color: #957287;
  text-align: center;
}

body {
  background-color: #5d4b64;
}

img {
  border-style: solid;
  border-color: black;
}

h3 {
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #9893b3;
  text-align: center;
}

p {
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #a9abc4
}
